/*
 * A class to make an Input addon look like a primary button. 
 */
.input-group-addon.primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

/*
 * Make the thumb on a Range larger so it is easier to 'grab' on 
 * touchscreen devices
 */
input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    border-radius: 50%;
    opacity: 0.5;
    width: 26px;
    height: 26px;
}