<div class="container">

    <div class="row"> 
        <h1 class="col-sm-6">Daily Declan Configuration</h1>        
        <ab-loginbutton class="pull-right"></ab-loginbutton>
    </div>            

    <div class="row">
        <uib-tabset>                    
            <tab class="btn-lg" heading="Users"><ab-users></ab-users></uib-tab>
            <tab class="btn-lg" heading="Quick Picks"><ab-moodsadmin></ab-moodsadmin></tab>                    
            <tab class="btn-lg" heading="Supplies"><ab-suppliesadmin></ab-suppliesadmin></tab>                    
            <tab class="btn-lg" heading="Reports"><ab-seizureadmin></ab-seizureadmin></tab>                        
        </uib-tabset>

    </div>

</div>

