<div class="container-fluid">    
    <div class="row"> 
        <h1 class="col-sm-6">Daily Declan Configuration</h1>        
        <ab-loginbutton class="pull-right"></ab-loginbutton>
    </div>            

    <uib-tabset>                    
        <uib-tab class="btn-lg" heading="Reports"><ab-seizureadmin></ab-seizureadmin></uib-tab> 
        <uib-tab class="btn-lg" heading="Users"><ab-users></ab-users></uib-tab>
        <uib-tab class="btn-lg" heading="Quick Picks"><ab-moodsadmin></ab-moodsadmin></uib-tab>                    
        <uib-tab class="btn-lg" heading="Supplies"><ab-suppliesadmin></ab-suppliesadmin></uib-tab>                        
    </uib-tabset>

</div>
