<div class="container">

    <div class="row"> 
        <h1 class="col-sm-6">The Daily Declan</h1>        
        <ab-loginbutton class="pull-right"></ab-loginbutton>
    </div>            

    <div class="row">
        <div class="alert alert-warning alert-dismissable" ng-hide="hidden">
            <button type="button" class="close" ng-click="hidden = true" data-dismiss="alert" 
                    aria-hidden="true">&times;</button>
            This form has been designed as a means to communicate important information 
            about Declan, and the events of his day. Please remember when filling it out 
            that we use your responses to talk to Declan about what has transpired, 
            because he cannot tell us himself
        </div>
    </div>  

    <div class="row">
        <ab-alert></ab-alert>
    </div>


    <div class="row">
        <ab-date class="pull-right"></ab-date>
    </div>

    <div class="row">
        <tabset>                    
            <tab class="btn-lg" heading="Quick Picks"><ab-moods></ab-moods></tab>
            <tab class="btn-lg" heading="Notes"><ab-notes></ab-notes></tab>                    
            <tab class="btn-lg" heading="Seizure">Content Goes Here</tab>
            <tab class="btn-lg" heading="Supplies"><ab-supplies></ab-supplies></tab>                                
        </tabset>

    </div>

</div>
