<div class="container-fluid">  

    <div class="row"> 
        <div class="col-sm-3 col-sm-offset-9">
            <ab-loginbutton class="pull-right"></ab-loginbutton>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>The Daily Declan</h1>  
            <ab-alert></ab-alert>
        </div>
    </div>            

    <div class="row">
        <div class="col-sm-3">
            <ab-date></ab-date>
        </div>
    </div>

    <uib-tabset>                    
        <uib-tab class="btn-lg" heading="Quick Picks"><ab-moods></ab-moods></uib-tab>
        <uib-tab class="btn-lg" heading="Notes"><ab-notes></ab-notes></uib-tab>                    
        <uib-tab class="btn-lg" heading="Seizure-like Activity"><ab-seizure></ab-seizure></uib-tab>
        <!-- <uib-tab class="btn-lg" heading="Supplies" select="uhfOpen()"><ab-supplies></ab-supplies></uib-tab> -->
        <uib-tab class="btn-lg" heading="Supplies"><ab-supplies></ab-supplies></uib-tab>                                
    </uib-tabset>

</div>
<script type='text/ng-template' id='uhfModalContent.html'>
    <iframe width="600" height="360" src="https://www.youtube.com/embed/RB2GboGOuTI?autoplay=1" 
    frameborder="0" allowfullscreen></iframe>    
</script>
