<div class="container">

    <div class="row"> 
        <div class="col-sm-8">
            <ab-date></ab-date>
        </div>
        <div class="pull-right">
            <ab-loginbutton></ab-loginbutton>
        </div>
        
    </div>            

    <div class="row">
        <ab-alert></ab-alert>                
    </div>

    <div class="row">
        <tabset>                    
            <tab class="btn-lg" heading="Quick Picks"><ab-moods></ab-moods></tab>
            <tab class="btn-lg" heading="Notes"><ab-notes></ab-notes></tab>                    
            <tab class="btn-lg" heading="Medications">Content Goes Here</tab>
            <tab class="btn-lg" heading="Supplies">Content Goes Here</tab>                    
            <tab class="btn-lg" heading="Summary"><ab-summary></ab-summary></tab
        </tabset>
    </div>

</div>
