<h2>Seizure-like Activity</h2>

<span ng-hide="activity.length">No activity recorded.</span>

<div class="table-responsive" ng-show="activity.length">
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <th>Name</th>
            <th>Start Time</th>
            <th>Duration (seconds)</th>
            <th>Comments</th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="event in activity track by $index | orderBy: 'start'">
            <td>{{event.who}}</td>
            <td>{{event.start | date: 'hh:mm a'}}</td>
            <td>{{event.duration}}</td>
            <td>{{event.notes}}</td>
            <td> 
                <button type="button" class="btn badge pull-right" 
                        ng-show="canEdit && event.uuid === uuid"
                        ng-click="activity.$remove(event)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>            </td>
        </tr>
    </table>
</div>

<hr ng-show="canEdit"/>

<h2 ng-show="canEdit">Record New Activity</h2>

<form name="activityForm" ng-submit="activityForm.$valid && seizureCtrl.addActivity()" 
      novalidate ng-show="canEdit">     

    <div class="form-group">
        <label class="control-label">Start Time</label>
        <timepicker ng-model="start" show-spinners="true"></timepicker>
    </div>

    <div class="form-group">
        <label class="control-label">Duration (seconds)</label>
        <div class="input-group">
            <div class="input-group-addon">{{duration}}</div>
            <input type="range" class="form-control" ng-model="duration" 
                   min="0" max="60" required="true"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Observations</label>
        <textarea ng-model="notes" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary btn-lg" 
            ng-disabled="(duration === 0) || activityForm.$invalid"> <!-- TODO validate duration -->
        Add</button>

</form>