<h1>AM</h1>
<div class="row">    
    <div class="col-sm-3" ng-repeat="moodName in moodCtrl.moodList">                        
        <button type="button" class="btn btn-block" btn-checkbox
                ng-model="moodCtrl.moodAM()[moodName]" 
                ng-class="moodCtrl.moodAM()[moodName] ? 'btn-primary' : ''"
                ng-change="moodCtrl.saveAM()"
                ng-disabled="!moodCtrl.editable()">                
            {{moodName}}
        </button>
        <br/>
    </div>
</div>

<h1>PM</h1>
<div class="row">    
    <div class="col-sm-3" ng-repeat="moodName in moodCtrl.moodList">                        
        <button type="button" class="btn btn-block" btn-checkbox
                ng-model="moodCtrl.moodPM()[moodName]" 
                ng-class="moodCtrl.moodPM()[moodName] ? 'btn-primary' : ''"
                ng-change="moodCtrl.savePM()"
                ng-disabled="!moodCtrl.editable()">                
            {{moodName}}
        </button>
        <br/>
    </div>
</div>
