<h1>AM</h1>
<div class="row">    
    <div class="col-sm-3" ng-repeat="moodName in moodList">                        
        <button type="button" class="btn btn-block" uib-btn-checkbox
                ng-model="moodAM[moodName.$value]" 
                ng-class="moodAM[moodName.$value] ? 'btn-primary' : ''"
                ng-change="moodAM.$save()"
                ng-disabled="!canEdit">                
            {{moodName.$value}}
        </button>
        <br/>
    </div>
</div>

<h1>PM</h1>
<div class="row">    
    <div class="col-sm-3" ng-repeat="moodName in moodList">                        
        <button type="button" class="btn btn-block" uib-btn-checkbox
                ng-model="moodPM[moodName.$value]" 
                ng-class="moodPM[moodName.$value] ? 'btn-primary' : ''"
                ng-change="moodPM.$save()"
                ng-disabled="!canEdit">                
            {{moodName.$value}}
        </button>
        <br/>
    </div>
</div>
