<h2>General Supplies</h2>
<div class="row">   

    <div class="col-sm-4" ng-repeat="item in singleItems">                        
        <button type="button" class="btn btn-block" btn-checkbox
                ng-model="supplies[item]" 
                ng-class="supplies[item] ? 'btn-primary' : ''"
                ng-change="supplies.$save()"
                ng-disabled="!canEdit">                
            {{item}}
        </button>
        <br/>
    </div>
    <div class="col-sm-4">
    <button type="button" class="btn btn-block" ng-model="uhf" btn-checkbox ng-click="uhfOpen()">UHF</button>
    </div>
</div>

<h2>Other Supplies</h2>

<div class="row">
<div ng-repeat="item in multiItems" class="col-lg-6">          
        <div class="input-group">

            <div class="input-group-addon" 
                 ng-class="supplies[item] > 0 ? 'primary':''">{{item}}</div>

            <input type="range" class="form-control" id="{{item}}}" min="0" 
                   max="5" ng-model="supplies[item]" ng-change="supplies.$save()">

            <div class="input-group-addon">{{supplies[item]}}</div>
        </div>
    <br/>
    </div>
</div>
