<h2>Day Care Supplies</h2>

<div class="row">
  <div class="col-sm-4" ng-repeat="item in singleItems">
    <button type="button" class="btn btn-block" uib-btn-checkbox ng-model="amSupplies[item.$value]" ng-class="amSupplies[item.$value] ? 'btn-primary' : ''" ng-change="amSupplies.$save()" ng-disabled="!canEdit">
      {{item.$value}}
    </button>
    <br />
  </div>

  <div class="col-sm-4">
    <button type="button" class="btn btn-block" ng-model="uhf" uib-btn-checkbox ng-click="uhfOpen()" ng-disabled="!canEdit">UHF</button>
    <br />
  </div>

  <div ng-repeat="item in multiItems track by item.$value">
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn" ng-class="{'btn-primary': amSupplies[item.$value] > 0, 'disabled': !canEdit}">{{item.$value}}</button>
        </span>
        <input  readonly="readonly" type="number" class="form-control" ng-model="amSupplies[item.$value]">
        <span class="input-group-btn">
          <button type="button" class="btn btn-secondary" ng-click="decrement(amSupplies, item.$value)">
            <i class="glyphicon glyphicon-chevron-down"></i>
          </button>
          <button type="button" class="btn btn-secondary" ng-click="increment(amSupplies, item.$value)">
            <i class="glyphicon glyphicon-chevron-up"></i>
          </button>
        </span>
      </div>
      <br />
    </div>
  </div>
</div>

<hr />
<h2>School Supplies</h2>

<div class="row">
  <div class="col-sm-4" ng-repeat="item in singleItems">
    <button type="button" class="btn btn-block" uib-btn-checkbox ng-model="pmSupplies[item.$value]" ng-class="pmSupplies[item.$value] ? 'btn-primary' : ''" ng-change="pmSupplies.$save()" ng-disabled="!canEdit">
      {{item.$value}}
    </button>
    <br />
  </div>
  <div ng-repeat="item in multiItems track by item.$value">
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn" ng-class="{'btn-primary': pmSupplies[item.$value] > 0, 'disabled': !canEdit}">{{item.$value}}</button>
        </span>
        <input  readonly="readonly" type="number" class="form-control" ng-model="pmSupplies[item.$value]">
        <span class="input-group-btn">
          <button type="button" class="btn btn-secondary" ng-click="decrement(pmSupplies, item.$value)">
            <i class="glyphicon glyphicon-chevron-down"></i>
          </button>
          <button type="button" class="btn btn-secondary" ng-click="increment(pmSupplies, item.$value)">
            <i class="glyphicon glyphicon-chevron-up"></i>
          </button>
        </span>
      </div>
      <br />
    </div>
  </div>
</div>

<br/>
